# HG Revert
*.orig

# vi swap files
*.swp
# backup & tmp/* files
*.bak
tmp/

# py compiled files
*.pyc
*.pyo

# python garbage
dist/
build/
*.egg-info/

# yajl build
yajl-src

# developer specifics
.virtualenv/
.vagrant/
Vagrantfile
